.search-bar__results-list{
	position: absolute;
	z-index: 10;
	border: 1px solid gray;
	background: lightgray;
	padding:$general-padding-value;
	li{
		list-style: none;
		cursor: pointer;
		&:hover{
			color:$site-primary;
		}
	}
}

.results__title{
	list-style: none;
	padding-left: none;
	cursor: pointer;
}