
<div class="col-lg-3 side-bar">
  <div class="row">
    <ul class="nav nav-pills">
      <li role="presentation" class="active" data-ng-click="sortSideBar('top');"><a href="">Top Rated</a></li>
      <li role="presentation"><a href="">Worst Rate</a></li>
      <li role="presentation"><a href="">Alphabetical</a></li>
    </ul>
  </div>
  <div class="row">
    <ul class="results-list side-bar-list">
      <li data-ng-repeat="item in data | orderBy:sorter" class="item-list col-lg-12">
        <div class="col-lg-3">
          <img ng-if="item.data.thumbnail.length" src="{{ item.data.thumbnail }}" alt="" style="width:100%;">
        </div>
        <div class="col-lg-9">
          <h4 class="results__title" ng-click="getIndividualPost(item.data.permalink)">{{ item.data.title }}</h4>
          <div class="label label-default">{{ item.data.subreddit }}</div>
          <div class="label label-success"><i class="glyphicon glyphicon-chevron-up"></i>{{ item.data.ups }}</div>
          <div class="label label-danger"><i class="glyphicon glyphicon-chevron-down"></i>{{ item.data.downs }}</div>
          <div ng-if="item.data.over_18" class="label label-warning">nsfw</div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="col-lg-8 main-container">
  
  title: {{postInfo.title}}
  author: {{postInfo.author}}
  media type: {{postInfo.media}}
  score: {{postInfo.score}}
  comment number: {{postInfo.num_comments}}
  thumbnail: {{postInfo.thumbnail}}
  link: {{postInfo.permalink}}
  created UTC: {{postInfo.created_utc}}
  
  <div class="comments">
    <ul>
      <li data-ng-repeat="comment in postComments">
        <div>{{comment.data.body}}</div>
        <div>{{comment.data.author}}</div>
        <div>{{comment.data.name}}</div>
        <div>{{comment.data.created_utc}}</div>
        <ul>
            <li data-ng-repeat="reply1 in comment.data.replies.data.children">
                  <div>{{reply1.data.body}}</div>
                  <div>{{reply1.data.author}}</div>
                  <div>{{reply1.data.name}}</div>
                  <div>{{reply1.data.created_utc}}</div> 
              <ul>
                <li data-ng-repeat="reply2 in reply1.data.replies.data.children">
                  <div>{{reply2.data.body}}</div>
                  <div>{{reply2.data.author}}</div>
                  <div>{{reply2.data.name}}</div>
                  <div>{{reply2.data.created_utc}}</div> 
                  <ul>
                    <li data-ng-repeat="reply3 in reply2.data.replies.data.children">
                        <div>{{reply3.data.body}}</div>
                        <div>{{reply3.data.author}}</div>
                        <div>{{reply3.data.name}}</div>
                        <div>{{reply3.data.created_utc}}</div> 
                      <ul>
                        <li data-ng-repeat="reply4 in reply3.data.replies.data.children">
                          <div>{{reply4.data.body}}</div>
                          <div>{{reply4.data.author}}</div>
                          <div>{{reply4.data.name}}</div>
                          <div>{{reply4.data.created_utc}}</div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
        </ul>
      </li>
    </ul>
  </div>
