<div class="col-sm-4">
  <div class="row">
    <ul>
      <li data-ng-repeat="item in data.children">
        <h3 ng-click="getIndividualPost(item.data.permalink)">{{ item.data.title }}</h3>
        <img ng-if="item.data.thumbnail" src="{{ item.data.thumbnail }}" alt="">
      </li>
    </ul>
  </div>
</div>
<div class="col-sm-8">
  <div data-ng-show="getIndividualPost">
    <a href="{{ individualPostUrl }}">{{ individualPostTitle }}</a>
    <div ng-if="individualPostData.is_self">
      <div ng-bind-html>{{ individualPostData.selftext_html }}</div>
      <div>{{ individualPostData.selftext }}</div>
    </div>
    <div class="comments">
      <h4>Comments</h4>
      <div data-ng-repeat="comment in individualPostComments.data.children" >
        <hr>
        <small>
          <strong>{{ comment.data.author }}</strong> | <em>up: {{ comment.data.ups }} / down: {{ comment.data.downs }}</em>
        </small>
        <p>{{ comment.data.body }}</p>
      </div>
    </div>

  </div>
</div>  
