
<div class="col-lg-3 side-bar">
  <div class="row">
    <ul class="nav nav-pills">
      <li role="presentation" class="active" data-ng-click="sortSideBar('top');"><a href="">Top Rated</a></li>
      <li role="presentation"><a href="">Worst Rate</a></li>
      <li role="presentation"><a href="">Alphabetical</a></li>
    </ul>
  </div>
  <div class="row">
    <ul class="results-list side-bar-list">
      <li data-ng-repeat="item in data | orderBy:sorter" class="item-list col-lg-12">
        <div class="col-lg-3">
          <img ng-if="item.data.thumbnail.length" src="{{ item.data.thumbnail }}" alt="" style="width:100%;">
        </div>
        <div class="col-lg-9">
          <h4 class="results__title" ng-click="getIndividualPost(item.data.permalink)">{{ item.data.title }}</h4>
          <div class="label label-default">{{ item.data.subreddit }}</div>
          <div class="label label-success"><i class="glyphicon glyphicon-chevron-up"></i>{{ item.data.ups }}</div>
          <div class="label label-danger"><i class="glyphicon glyphicon-chevron-down"></i>{{ item.data.downs }}</div>
          <div ng-if="item.data.over_18" class="label label-warning">nsfw</div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="col-lg-8 main-container">
  <div data-ng-show="getIndividualPost">
    <h2><a href="{{ individualPostUrl }}">{{ individualPostTitle }}</a></h2>
    <h6>Posted By: {{ individualPostData.author }}</h6>
    <div ng-if="individualPostData.is_self">
      <div>{{ individualPostData.selftext }}</div>
    </div>
    <div class="comments">
      <h5>Comments</h5>
      <div data-ng-repeat="comment in individualPostComments.data.children" >
        <hr>
        <small>
          <strong>{{ comment.data.author }}</strong> | <em>up: {{ comment.data.ups }} / down: {{ comment.data.downs }}</em>
        </small>
        <p>{{ comment.data.body }}</p>
      </div>
    </div>

  </div>
</div>  
